* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Inter", sans-serif;
    color: #303030;
}

header {
    background: #2965f1;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    min-height: 100vh;
    background: #fafaff;
    padding: 60px 0;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    padding: 100px 0;
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    appearance: none;
    background-image: url("ep_arrow-down.svg");
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    font-weight: 400;
    font-size: 16px;
    list-style-image: url("solar_map-arrow-up-bold.svg");
    margin-left: 25px;
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    margin-left: 20px;
}

.label {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
}

.btn {
    width: 125px;
    height: 36px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 60px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin-bottom: 60px;
}

table {
    font-weight: 400;
    font-size: 14px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 25px 0;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}