*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    font-family: "Rubik", sans-serif;
    min-width: 375px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    font-weight: 500;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3em;
    color: #363940;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    color: #95a1bb;
}

header{
    background: #0a61f7;
    padding: 14px 0;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate {
    display: flex;
    gap: 24px;
}

.navigate li a{
    font-weight: 500;
    font-size: 12px;

    line-height: 1.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}

.markup-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    /* flex-wrap: wrap; */
}

.markup-wrapper img{
    align-self: flex-end;
}

.main-title{
    font-weight: 500;
    font-size: 58px;
    line-height: 1.1em;
    color: #363940;
    margin-bottom: 30px;
}

.markup-text .text{
    margin-bottom: 40px;
    max-width: 380px;
}

.main-btn{
    width: 152px;
    height: 50px;
    background: #0a61f7;
    font-size: 14px;

    line-height: 1.4em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}


/* --------------2 section-------------- */

.rates{
    background: #f9fafc;
    padding: 100px 0;
}

.rates-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates-wrapper .title{
    margin-bottom: 20px;
}

.rates-wrapper .text{
    margin-bottom: 40px;
}

table{
    width: 940px;
    height: 300px;
    border-collapse: collapse;
}

.row{
    font-weight: 400;
    font-size: 14px;

    line-height: 1.5em;
    color: #363940;
    border: 1px solid #95a1bb;
}

.gray{
    color: #95a1bb;
}

.column{
    font-weight: 500;
    font-size: 18px;

    line-height: 1.2em;
    border: 1px solid #95a1bb;
    color: #363940;
}

.row a{
    color: #0a61f7;
}

tr td{
    text-align: center;
    border: 1px solid #95a1bb;
}

.btn-get{
    width: 140px;
    height: 36px;
    font-size: 12px;

    line-height: 1.6em;
    letter-spacing: 0.1em;
    color: #0a61f7;
    border: solid 1px;
}

.btn-get:hover{
    color:#fff;
    background-color: #0a61f7;
}

/* -----------------3 section---------------- */

.create-account{
    padding: 100px 0;
}

.create-account-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.account-text .title{
    margin-bottom: 50px;
}

.account-text .text{
    margin-bottom: 40px;
    max-width: 500px;
}

.benifits{
    list-style-image: url("/photo/Check.svg");
    margin-left: 25px;
}

.benifits li{
    font-weight: 400;
    font-size: 16px;

    line-height: 1.3em;
    color: #363940;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 480px;
}

input, select, fieldset, textarea{
    border-radius: 4px;
    border: 1px solid #95a1bb;;
}

input, label, legend, textarea, select, fieldset,
input::placeholder, select::placeholder, textarea::placeholder{
    font-weight: 400;
    font-size: 16px;

    line-height: 1.4em;
    color: #95a1bb;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
}

input, select{
    padding: 14px 15px;
    height: 50px;
}

.input-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stack-wrapper, fieldset{
    display: flex;
    gap: 30px;
}

fieldset{
    width: 100%;
    padding: 30px 15px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .reg {
    width: 100%;
    height: 50px;
    background: #0a61f7;
    font-size: 14px;

    line-height: 1.4em;
    letter-spacing: 0.1em;
    color: #fff;
}

select{
    appearance: none;
    background: url(./photo/Arrow-down.svg) no-repeat right 15px top 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./photo/Calendar.svg) no-repeat ;
}

footer{
    background: #0a61f7;
    padding: 20px 0;
    text-align: center;
}

small{
    font-weight: 400;
    font-size: 14px;

    line-height: 1.5em;
    color: #fff;
}