*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
    min-width: 375px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    font-weight: 500;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

.container{
    
}