*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-style: none;
}

body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background: #191919;
    min-width: 375px;
}

section{
    padding: 0 70px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

header{
    padding: 40px 0;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul a, .navigate a{
    font-size: 17px;
    line-height: 159%;
    color: #fff;
}

.main-wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px 0;
}

.img{
    width: 100%;
    max-width: 650px;
}

.main-text{
    max-width: 562px;
}

h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
}

h1 .next{
    font-weight: 400;
    font-size: 75px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

h1 .level{
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.04em
}

.resurce-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lisn-on{
    font-size: 15px;
    line-height: 160%;
}

.resurces{
    display: flex;
    gap: 20px;
}

.episodes-wrapper{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.title-ep{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    margin-bottom: 28px;
}

.btn-ep{
    border-radius: 6px;
    max-width: 208px;
    height: 51px;
    background: #118da8;
    color: #fff;
    font-size: 17px;
    line-height: 159%;
    padding: 0 15px 0 20px;
}

article{
    display: flex;
    border-radius: 32px;
    background-color: #000;
    padding: 40px;
    gap: 53px;
    margin-bottom: 60px;
}

.img-ep{
    max-width: 389px;
    width: 100%;
}

.text-ep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 778px;
}

.label{
    border-radius: 6px;
    height: 27px;
    background: #191919;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    padding: 0 16px;
}

.span{
    font-size: 17px;
    line-height: 159%;
    color: #118da8;

}

.episod{
    max-width: 670px;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
}

.about{
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.your-host-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 100px 0;
}

.txt-host{
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 590px;
}

.add-span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #118da8;
}

.frame{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    background: #118da8;
    margin-bottom: 20px;
}

.mb{
    margin-bottom: 33px;
}

.wrp{
    display: flex;
    
}

.subscribe-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 76px;
    border-radius: 32px;
    background-color: #000;
    margin: 100px 0;
    padding: 60px 60px 75px;
}

.sub-title{
    font-weight: 400;
    font-size: 65px;
    line-height: 122%;
    letter-spacing: 0.04em;
    max-width: 430px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    width: 100%;
    max-width: 522px;
    gap: 20px
}

input{
    border: 1px solid #191919;
    border-radius: 6px;
    width: 100%;
    height: 82px;
    background: #191919;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.reviews-wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 100px 0;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 32px;
    max-width: 420px;
    max-height: 321px;
    padding: 50px;
    background-color: #000;
}

.star{
    padding-right: 5px;
}

.text-rev{
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}

.name-rev{
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

.foot-wrapper{
    padding: 100px 70px;    
    display: flex;
    justify-content: space-between;
}

.cnc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts{
    display: flex;
    gap: 10px;
}

.navigate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1200px){
    .main-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .main-text{
        max-width: none;
    }

    article{
        flex-direction: column;
        align-self: start;
    }

    .your-host-wrapper{
        flex-direction: column;
        align-items: start;
    }

    .subscribe-wrapper{
        flex-direction: column;
        align-self: start;
        width:auto;
    }

    .logo-large{
        display: none;
    }

}


@media screen and (max-width: 575px){
    .review{
        max-height: none;
    }
}
