*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-style: none;
    transition-duration: 100ms;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 2px solid #118da8;
    border-radius: 6px;
}

body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background: #191919;
    min-width: 375px;
}

section{
    padding: 0 20px;
}
/* 
.img{
     width: 100%;
    height: 100%; 
    object-fit: cover;
    aspect-ratio: 4/5;
} */

.container{
    max-width: 1300px;
    margin: 0 auto;
}

header{
    padding: 40px 20px;
    font-weight: 600;

}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 70px; */
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul a, .navigate a{
    font-size: 17px;
    line-height: 159%;
    color: #fff;
    transition-duration: 300ms;
}

nav ul a:hover, .navigate a:hover{
    color: #118da8;
}

nav img{
    display: none;
}

.main-wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px 0;
}

.img-wrapper{
    position: relative;
}

.img-wrapper::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 68px;
    height: 74px;
    background-image: url("/accets/top.svg");
    top: -25px;
    left: -25px;
}

.img{
    width: 100%;
    max-width: 650px;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 4/5;
}

.main-text{
    max-width: 526px;
}

h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
}

.next{
    font-weight: 400;
    font-size: 75px;
    line-height: 117%;
    letter-spacing: 0.04em;
    padding-right: 25px;
    position: relative;
}

.next::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 160px;
    height: 10px;
    background-image: url("/accets/next.svg");
    right: 25px;
    bottom: 0px;
}


.level{
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.04em
}

.resurce-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lisn-on{
    padding-top: 90px;
    font-size: 15px;
    line-height: 160%;
}

.resurces{
    display: flex;
    gap: 20px;
}

.resource, .contact{
    transition-duration: 300ms;
}

.resource:hover, .contact:hover{
    transform: translateY(-5px);
}


.episodes-wrapper{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    align-items: stretch;
}

.title-ep{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    /* margin-bottom: 28px; */
}

.btn-ep{
    border-radius: 6px;
    max-width: 200px;
    height: 51px;
    background: #118da8;
    color: #fff;
    font-size: 17px;
    line-height: 159%;
    padding: 0 15px;
    margin-top: 20px;
}

article{
    display: flex;
    border-radius: 32px;
    background-color: #000;
    padding: 40px;
    gap: 55px;
    margin-bottom: 60px;
}

.img-ep{

    width: 100%;
}

.text-ep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.label{
    border-radius: 6px;
    height: 27px;
    background: #191919;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    padding: 0 16px;
    margin-bottom: 50px;
}

.span{
    font-size: 17px;
    line-height: 159%;
    color: #118da8;
    margin-bottom: 20px;
}

.episod{
    max-width: 670px;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
}

.about{
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.your-host-wrapper{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
    padding: 100px 0;
}

.txt-host{
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 590px;
}

.txt-host-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #118da8;
}

.frame{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    background: #118da8;
    margin-bottom: 20px;
    transition-duration: 500ms;
}

.frame:hover{
    transform: rotate(90deg);
}

.wrp{
    display: flex;
    position: relative;
}

.wrp::before{
    content: "";
    display: inline-block;
    background-image: url("accets/bottom.svg");
    position: absolute;
    width: 147px;
    height: 90px;
    bottom: 60px;
    left: -35px;
}

.subscribe-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 75px;
    border-radius: 32px;
    background-color: #000;
    margin: 100px 0;
    padding: 60px 60px 75px;

}

.sub-title{
    font-weight: 400;
    font-size: 65px;
    line-height: 122%;
    letter-spacing: 0.04em;
    max-width: 430px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    width: 100%;
    max-width: 522px;
    gap: 20px;
}

input{
    border: 1px solid #191919;
    border-radius: 6px;
    width: 100%;
    height: 80px;
    background: #191919;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    transition-duration: 500ms;
}

input:active{
    border: 1px solid #454444;
}

.reviews-wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    /* justify-content: space-between; */
    padding: 100px 0;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 32px;
    max-width: 423px;
    flex-grow: 1;
    min-width: 336px;
    padding: 50px;
    background-color: #000;
}

.star{
    padding-right: 5px;
}

.text-rev{
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}

.name-rev{
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

footer{
    padding: 0 20px;
}

.foot-wrapper{
    padding: 100px 0px;    
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.cnc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 240px;
}

.contacts{
    display: flex;
    gap: 10px;
}

.navigate-wrapper{
    display: flex;
    gap: 20px;
}

.navigate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1250px){
    .cnc{
        margin-right: 45px;
    }
}


@media screen and (max-width: 768px){
    header{
        padding: 40px 20px;
    }

    nav ul{
        display: none;
    }

    nav img{
        display: inline-block;
    }

    .menu-main{
        position: relative;
    }

    div.menu{
        max-width: 768px;
        min-width: 375px;
        margin: 0 auto;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        backdrop-filter: blur(15px);
        z-index: 1;
        /* transform: translateY(20px); 
        transition: all 0.5s ease;  */
    }

    /* div.menu */

    nav.mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav.mobile ul li:first-child a{
        color:#118da8;
    }

    section{
        padding: 0 20px;
    }

    .main-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .title-ep{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 0 40px;
    }

    article{
        flex-direction: column;
        align-self: start;
        gap: 40px
    }

    .your-host-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 100px 0px;
    }

    .ab-img{
        order: -1;
    }

    .txt-host{
        gap: 20px;
    }

    .txt-host-wrapper{
        gap: 20px;
    }

    .subscribe-wrapper{
        flex-direction: column;
        align-self: start;
    }

    .foot-wrapper{
        flex-direction: column;
        gap: 130px;
    }

    .cnc, .menu{
        padding: 0px;
    }

    
}


@media screen and (max-width: 576px){
    .main-wrapper{
        margin: 40px 0 60px;
    }

    .main-text{
        padding: 0 20px;
    }

    h1{
        font-weight: 400;
        font-size: 40px;
        line-height: 1.25;
        letter-spacing: 0.06em;
    }

    .next{
        font-weight: 400;
        font-size: 50px;
        line-height: 1;
        letter-spacing: 0.06em;
    }

    .next::after{
        width: 114px;
    }

    .level{
        font-weight: 700;
        font-size: 50px;
        line-height: 1;
        letter-spacing: 0.06em;
    }

    h2{
        font-weight: 400;
        font-size: 38px;
        line-height: 1.29;
        letter-spacing: 0.08em;
    }

    .lisn-on{
        padding-top: 70px;
    }

    .episodes-wrapper{
        margin: 60px 0 20px;
    }

    .title-ep{
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .btn-ep{
        margin-top: 0;
    }

    article{
        padding: 20px;
        gap: 30px;
        margin-bottom: 40px;
    }

    .label{
        margin-bottom: 30px;
    }

    .episod{
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.06em;
    }

    .mgb{
        margin-bottom: 30px;
    }

    .your-host-wrapper{
        padding: 60px 20px;
        gap: 40px;
    }

    .frame{
        margin-bottom: 0px;
    }

    .subscribe-wrapper{
        margin: 60px 0;
        gap: 60px;
        padding: 60px 20px;
    }

    .sub-title{
        font-size: 50px;
        line-height: 1;
        letter-spacing: 0.06em;
    }

    .wrp::before{
        display: block;
        bottom: -10px;
        left:0;
        right: 0;
        transform: scaleX(-1);
    }

    .reviews-wrapper{
        padding: 60px 0;
        flex-wrap: nowrap;
        overflow: auto;
    }

    .review{
        padding: 50px 20px;
    }

    .foot-wrapper{
        padding: 60px 0;
        gap: 80px;
    }

    .navigate-wrapper{
        flex-direction: column;
        gap: 60px;
    }
}
