*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-style: none;
}

body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background: #191919;
    min-width: 375px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 70px;

}

header{
    padding: 40px 0;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul a{
    font-size: 17px;
    line-height: 159%;
    color: #fff;
}

.main-wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px 0;
}

.main-img{
    width: 100%;
    max-width: 650px;
}

.main-text{
    max-width: 562px;
}

h1{
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
    margin-bottom: 90px;
}

h1 .next{
    font-size: 75px;
    line-height: 117%;
}

h1 .level{
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
}

.resurce-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lisn-on{
    font-size: 15px;
    line-height: 160%;
}

.resurces{
    display: flex;
    gap: 20px;
}

.episodes-wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 100px 0;
}

.title-ep{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
}

.btn-ep{
    border-radius: 6px;
    max-width: 208px;
    height: 51px;
    background: #118da8;
    color: #fff;
    font-size: 17px;
    line-height: 159%;
    padding: 0 15px 0 20px;
}

article{
    display: flex;
    border-radius: 32px;
    background-color: #000;
    padding: 40px;
    gap: 53px;
}

.img-ep{
    max-width: 389px;
    width: 100%;
}

.text-ep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 778px;
}

.label{
    border-radius: 6px;
    height: 27px;
    background: #191919;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    padding: 0 16px;
}

.num-ep{
    font-size: 17px;
    line-height: 159%;
    color: #118da8;

}

.episod{
    max-width: 670px;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
}

.about{
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}


@media screen and (max-width: 1100px){
    .main-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .main-text{
        max-width: none;
    }

    article{
        flex-direction: column;
    }
}
